body {
  /* width: 1600px;
  height: 1434px; */
  background-color: #f5f6fa;
}

.panel-bg {
  width: 100%;
  height: 95px;
  background-color: #ffffff;
}

.azure {
  color: #0290ff;
}

.Mask {
  width: 27px;
  height: 27px;
  float: right;

  position: absolute;
  right: 26px;
}
nav {
  position: relative;
  display: flex;
  align-items: center;
}
li {
  list-style: none;
  display: inline;
}
a {
  text-decoration: none;
  color: inherit;
}

.Bookstore-CMS {
  width: 240px;
  height: 37px;
  font-family: Montserratapple-system, system-ui, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 30px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  margin-left: 100px;
}
.BOOKS {
  width: 59px;
  height: 16px;
  font-family: Roboto, Helvetica, sans-serift;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.9px;
  color: #121212;
  margin-left: 50px;
}

.CATEGORIES {
  width: 105px;
  height: 16px;
  opacity: 0.5;
  font-family: Roboto, Helvetica, sans-serift;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.9px;
  color: #121212;
  margin-left: 50px;
}

.categories-div {
  margin-top: 30px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.categories-filter {
  height: 50px;
  width: 200px;
  border-radius: 10px;
  font-size: 20px;
  border-color: #939393;
}

.Lesson-Panel {
  margin-top: 20px;
  width: 1200px;
  height: 170px;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: #ffffff;
  margin-left: 100px;
  margin-right: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 100px;
}

/* .book-table{
   width: 100%; 
  margin-top: 30px;
  margin-bottom: 30px;
} */

.book-cat {
  width: 49px;
  height: 18px;
  opacity: 0.5;
  font-family: Roboto, Helvetica, sans-serift;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
}

.book-title {
  width: 197px;
  height: 29px;
  font-family: RobotoSlab;
  font-size: 22px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.2px;
  color: var(--black-three);
}

.Remove {
  width: 54px;
  height: 19px;
  font-family: RobotoSlab;
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4386bf;
}

.line {
  color: #e8e8e8;
}

.book-info {
  margin-left: 27px;
  display: grid;
  grid-template-columns: 250px;
  grid-template-rows: repeat(3, 1fr);
}

.options {
  display: grid;
  grid-template-columns: 3fr 1fr 3fr 1fr 2fr;
  grid-template-rows: 1fr;
  padding-top: 20px;
}

.book-cat {
  padding-top: 20px;
}

.book-progress {
  display: flex;
  float: right;
}

.circle {
  background-color: #fff;
  border: 5px solid;
  border-color: #307bbe #307bbe rgb(238, 232, 232);
  height: 60px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  width: 60px;
  margin-right: 0.6em;
}

.percentage {
  width: 68px;
  height: 39px;
  font-family: Roboto, Helvetica, sans-serif;
  font-size: 32px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
}

.Completed {
  width: 80px;
  height: 18px;
  opacity: 0.5;
  font-family: Roboto, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
}

.percent-info {
  display: flex;
  flex-direction: column;
}
.udpateprogress {
  font-family: Roboto, Helvetica, sans-serif;
}
.udpateprogress button {
  background-color: #0290ff;
  border: none;
  width: 184px;
  height: 33px;
  border-radius: 3px;
  color: white;
}
.current-chap {
  height: 18px;
  opacity: 0.5;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #939393;
  margin: 0;
}
.chapter-num {
  width: 212px;
  height: 21px;
  font-size: 16px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.4px;
  margin-top: 0;
}
